* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

section {
  margin-bottom: 10px;
}
.container {
  width: 1200px;
  margin: auto;
}
.row {
  display: flex;
  margin-inline: 6px;
  flex-wrap: wrap;
}
/* .row {
  display: flex;
  margin-inline: -10px;
  flex-wrap: wrap;
} */

/* =============[Header]========== */
header {
  width: 100%;
  padding: 10px 0;
  background-color: #022341;
}
header .navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .navbar-nav {
  font-size: 14px;
  font-weight: 500;
  padding-inline: 30px;
  list-style-type: none;
  display: flex;
}

header .navbar .navbar-brand {
  text-decoration: none;
  color: aliceblue;
}
header .navbar .navbar-nav .nav-item a {
  margin-inline: 15px;
  color: aliceblue;
  text-decoration: none;
}
.group-btn .btn {
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* margin-left: 10px; */
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.group-btn .btn-login {
  color: #ffffff;
  border: 2px solid #0ea5e9;
}
.group-btn .btn-login:hover {
  color: #ffffff;
  background-color: #0ea5e9;
  border: 1px solid #0ea5e9;
  transition: 0.3s;
}
.group-btn .btn-register {
  border: 2px solid #0ea5e9;
  background-color: #0ea5e9;
  color: #fff;
}
.group-btn .btn-register:hover {
  background-color: #022341;
  border: 1px solid #022341;
  color: #ffffff;
  transition: 0.3s;
}
/* ============[End Header]============ */

/* ========[Start Herobanner]========== */
.herobanner {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.herobanner h3 {
  margin-bottom: 10px;
}
.herobanner .get-started {
  background-color: #0ea5e9;
  border: 1px solid #0ea5e9;
  border-radius: 5px;
  text-decoration: none;
  color: #f4f4f4;
  padding: 5px 15px;
}
.col-3 {
  width: 25%;
  padding-inline: 10px;
}
.col-4 {
  width: 33.33333333333333%;
  margin-right: 5px;
}
.col-8 {
  width: 66.66666666666667%;
}
/* =======card======== */
.container .card {
  /* background-color: #022341; */
  border: 1px solid #dee1e6;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  padding: 10px;
}
.container .card .card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.card-body {
  padding: 10px 0px 20px 0px;
}
.card-body h4 {
  padding: 5px 0 5px 0;
}
.card-body span {
  font-size: 13px;
  color: #505154;
}
.card-body p {
  font-size: 14px;
  color: #505154;
}
.product .form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.product .form ul {
  list-style-type: none;
}
/* .product .form ul li {
  color: #6d6d6d;
  line-height: 28px;
} */
.product .form ul li a {
  color: #6d6d6d;
  line-height: 30px;
  text-decoration: none;
}
.product .form .Categori {
  padding: 5px;
  border: 1px solid #dee1e6;
  width: 100%;
  margin-bottom: 5px;
}
.footer {
  text-align: center;
  background-color: #002b49;
  color: white;
  padding: 20px 0;
}
